In [1]:
import datetime
import math
import pandas as pd

In [2]:
london_tweets = pd.read_csv("./data/london_tweets.csv", )

In [3]:
london_tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,DATETIME
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0,2014-12-31 09:47:50
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0,2014-12-31 09:47:52
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0,2014-12-31 09:47:53
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0,2014-12-31 09:47:55
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0,2014-12-31 09:49:25

In [6]:
london_tweets["datetime"] = pd.to_datetime(london_tweets.DATETIME)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
london_tweets["datetime_to_nearest_hour"] = london_tweets.datetime.apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
hourly_tweets_by_datetime_and_location = pd.DataFrame({'hourly_tweets' : tweets_by_datetime_and_location.groupby(["LOCATION", "datetime_to_nearest_hour"]).size()}).reset_index()
hourly_tweets_by_datetime_and_location.head()

          LOCATION datetime_to_nearest_hour  hourly_tweets
0  Barking; London      2014-12-31 04:00:00              7
1  Barking; London      2014-12-31 05:00:00              2
2  Barking; London      2014-12-31 06:00:00              6
3  Barking; London      2014-12-31 07:00:00              9
4  Barking; London      2014-12-31 08:00:00             24

In [67]:
for idx, row in hourly_tweets_by_datetime_and_location.iterrows():
    max_hourly_tweets_for_location = hourly_tweets_by_datetime_and_location[hourly_tweets_by_datetime_and_location.LOCATION == row.LOCATION].hourly_tweets.max()
    hourly_tweets_by_datetime_and_location.at[idx, "norm"] = row.hourly_tweets / max_hourly_tweets_for_location

In [70]:
hourly_tweets_by_datetime_and_location[hourly_tweets_by_datetime_and_location.norm == 1]

,LOCATION,datetime_to_nearest_hour,hourly_tweets,norm
39,Barking; London,2015-01-01 19:00:00,114,1.0
87,Barnet; London,2015-01-01 19:00:00,214,1.0
136,Bexley; London,2015-01-01 21:00:00,107,1.0
169,Biggin Hill; London,2015-01-01 23:00:00,8,1.0
192,Brent; London,2015-01-01 00:00:00,154,1.0
258,Bromley; London,2015-01-01 18:00:00,167,1.0
310,Camberwell; London,2015-01-01 22:00:00,238,1.0
335,Camden Town; London,2015-01-01 00:00:00,173,1.0
382,City of London; London,2015-01-01 00:00:00,65,1.0
452,Crayford; London,2015-01-01 23:00:00,60,1.0
498,Croydon; London,2015-01-01 21:00:00,206,1.0
505,Downe; London,2014-12-31 10:00:00,1,1.0
506,Downe; London,2014-12-31 14:00:00,1,1.0
507,Downe; London,2014-12-31 15:00:00,1,1.0
528,Ealing; London,2015-01-01 00:00:00,131,1.0
594,East Ham; London,2015-01-01 20:00:00,98,1.0
637,Eltham; London,2015-01-01 16:00:00,94,1.0
687,Enfield; London,2015-01-01 18:00:00,241,1.0
717,Greenwich; London,2015-01-01 00:00:00,100,1.0
786,Hackney; London,2015-01-01 21:00:00,184,1.0
827,Hammersmith; London,2015-01-01 14:00:00,108,1.0
853,Harefield; London,2014-12-31 23:00:00,17,1.0
915,Harrow; London,2015-01-01 21:00:00,141,1.0
922,Hazlewood; London,2014-12-31 04:00:00,3,1.0
967,Hillingdon; London,2015-01-01 19:00:00,205,1.0
996,Hounslow; London,2015-01-01 00:00:00,91,1.0
1062,Ilford; London,2015-01-01 18:00:00,143,1.0
1108,Islington; London,2015-01-01 16:00:00,152,1.0
1155,Kensington; London,2015-01-01 15:00:00,176,1.0
1178,Keston; London,2015-01-01 21:00:00,6,1.0
1221,Kingston upon Thames; London,2015-01-01 19:00:00,73,1.0
1250,Lambeth; London,2015-01-01 00:00:00,329,1.0
1320,Lewisham; London,2015-01-01 22:00:00,172,1.0
1346,London; England,2015-01-01 00:00:00,471,1.0
1415,Merton; London,2015-01-01 21:00:00,119,1.0
1451,New Addington; London,2015-01-01 22:00:00,23,1.0
1472,Paddington; London,2014-12-31 21:00:00,145,1.0
1519,Poplar; London,2014-12-31 20:00:00,306,1.0
1555,Pratts Bottom; London,2015-01-01 22:00:00,2,1.0
1576,Richmond; London,2015-01-01 00:00:00,80,1.0
1642,Romford; London,2015-01-01 18:00:00,160,1.0
1689,Southall; London,2015-01-01 19:00:00,36,1.0
1734,Stratford; London,2015-01-01 16:00:00,173,1.0
1788,Sutton; London,2015-01-01 22:00:00,98,1.0
1833,Tottenham; London,2015-01-01 19:00:00,338,1.0
1862,Walthamstow; London,2015-01-01 00:00:00,200,1.0
1931,Wandsworth; London,2015-01-01 21:00:00,242,1.0
1938,Westerham; London,2014-12-31 21:00:00,1,1.0

In [71]:
peak_hourly_tweets_by_borough = hourly_tweets_by_datetime_and_location[hourly_tweets_by_datetime_and_location.norm == 1]

peak_hourly_tweets_by_borough.to_csv("./data/peak_hourly_tweets_by_borough.csv", index=False)

In [72]:
hourly_tweets_by_datetime_and_location.to_csv("./data/hourly_tweets_by_datetime_and_borough.csv", index=False)

In [73]:
hourly_tweets_by_datetime_and_location.LOCATION.unique()

array(['Barking; London', 'Barnet; London', 'Bexley; London',
       'Biggin Hill; London', 'Brent; London', 'Bromley; London',
       'Camberwell; London', 'Camden Town; London',
       'City of London; London', 'Crayford; London', 'Croydon; London',
       'Downe; London', 'Ealing; London', 'East Ham; London',
       'Eltham; London', 'Enfield; London', 'Greenwich; London',
       'Hackney; London', 'Hammersmith; London', 'Harefield; London',
       'Harrow; London', 'Hazlewood; London', 'Hillingdon; London',
       'Hounslow; London', 'Ilford; London', 'Islington; London',
       'Kensington; London', 'Keston; London',
       'Kingston upon Thames; London', 'Lambeth; London',
       'Lewisham; London', 'London; England', 'Merton; London',
       'New Addington; London', 'Paddington; London', 'Poplar; London',
       'Pratts Bottom; London', 'Richmond; London', 'Romford; London',
       'Southall; London', 'Stratford; London', 'Sutton; London',
       'Tottenham; London', 'Walthamstow; London', 'Wandsworth; London',
       'Westerham; London'], dtype=object)

In [77]:
peak_hourly_tweets_by_borough["borough"] = peak_hourly_tweets_by_borough.LOCATION.apply(lambda location: location.split(";")[0])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
peak_hourly_tweets_by_borough.head()

,LOCATION,datetime_to_nearest_hour,hourly_tweets,norm,borough
39,Barking; London,2015-01-01 19:00:00,114,1.0,Barking
87,Barnet; London,2015-01-01 19:00:00,214,1.0,Barnet
136,Bexley; London,2015-01-01 21:00:00,107,1.0,Bexley
169,Biggin Hill; London,2015-01-01 23:00:00,8,1.0,Biggin Hill
192,Brent; London,2015-01-01 00:00:00,154,1.0,Brent

In [79]:
peak_hourly_tweets_by_borough.to_csv("./data/peak_hourly_tweets_by_borough.csv", index=False)

In [86]:
peak_hourly_tweets_by_borough.loc[peak_hourly_tweets_by_borough["borough"] == "Barking", ["borough"]] = "Barking and Dagenham"

peak_hourly_tweets_by_borough.loc[peak_hourly_tweets_by_borough["borough"] == "Camden Town", ["borough"]] = "Camden"

peak_hourly_tweets_by_borough.loc[peak_hourly_tweets_by_borough["borough"] == "Hammersmith", ["borough"]] = "Hammersmith and Fulham"

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,LOCATION,datetime_to_nearest_hour,hourly_tweets,norm,borough
39,Barking; London,2015-01-01 19:00:00,114,1.0,Barking and Dagenham
87,Barnet; London,2015-01-01 19:00:00,214,1.0,Barnet
136,Bexley; London,2015-01-01 21:00:00,107,1.0,Bexley
169,Biggin Hill; London,2015-01-01 23:00:00,8,1.0,Biggin Hill
192,Brent; London,2015-01-01 00:00:00,154,1.0,Brent

In [87]:
peak_hourly_tweets_by_borough

,LOCATION,datetime_to_nearest_hour,hourly_tweets,norm,borough
39,Barking; London,2015-01-01 19:00:00,114,1.0,Barking and Dagenham
87,Barnet; London,2015-01-01 19:00:00,214,1.0,Barnet
136,Bexley; London,2015-01-01 21:00:00,107,1.0,Bexley
169,Biggin Hill; London,2015-01-01 23:00:00,8,1.0,Biggin Hill
192,Brent; London,2015-01-01 00:00:00,154,1.0,Brent
258,Bromley; London,2015-01-01 18:00:00,167,1.0,Bromley
310,Camberwell; London,2015-01-01 22:00:00,238,1.0,Camberwell
335,Camden Town; London,2015-01-01 00:00:00,173,1.0,Camden Town
382,City of London; London,2015-01-01 00:00:00,65,1.0,City of London
452,Crayford; London,2015-01-01 23:00:00,60,1.0,Crayford
498,Croydon; London,2015-01-01 21:00:00,206,1.0,Croydon
505,Downe; London,2014-12-31 10:00:00,1,1.0,Downe
506,Downe; London,2014-12-31 14:00:00,1,1.0,Downe
507,Downe; London,2014-12-31 15:00:00,1,1.0,Downe
528,Ealing; London,2015-01-01 00:00:00,131,1.0,Ealing
594,East Ham; London,2015-01-01 20:00:00,98,1.0,East Ham
637,Eltham; London,2015-01-01 16:00:00,94,1.0,Eltham
687,Enfield; London,2015-01-01 18:00:00,241,1.0,Enfield
717,Greenwich; London,2015-01-01 00:00:00,100,1.0,Greenwich
786,Hackney; London,2015-01-01 21:00:00,184,1.0,Hackney
827,Hammersmith; London,2015-01-01 14:00:00,108,1.0,Hammersmith
853,Harefield; London,2014-12-31 23:00:00,17,1.0,Harefield
915,Harrow; London,2015-01-01 21:00:00,141,1.0,Harrow
922,Hazlewood; London,2014-12-31 04:00:00,3,1.0,Hazlewood
967,Hillingdon; London,2015-01-01 19:00:00,205,1.0,Hillingdon
996,Hounslow; London,2015-01-01 00:00:00,91,1.0,Hounslow
1062,Ilford; London,2015-01-01 18:00:00,143,1.0,Ilford
1108,Islington; London,2015-01-01 16:00:00,152,1.0,Islington
1155,Kensington; London,2015-01-01 15:00:00,176,1.0,Kensington
1178,Keston; London,2015-01-01 21:00:00,6,1.0,Keston
1221,Kingston upon Thames; London,2015-01-01 19:00:00,73,1.0,Kingston upon Thames
1250,Lambeth; London,2015-01-01 00:00:00,329,1.0,Lambeth
1320,Lewisham; London,2015-01-01 22:00:00,172,1.0,Lewisham
1346,London; England,2015-01-01 00:00:00,471,1.0,London
1415,Merton; London,2015-01-01 21:00:00,119,1.0,Merton
1451,New Addington; London,2015-01-01 22:00:00,23,1.0,New Addington
1472,Paddington; London,2014-12-31 21:00:00,145,1.0,Paddington
1519,Poplar; London,2014-12-31 20:00:00,306,1.0,Poplar
1555,Pratts Bottom; London,2015-01-01 22:00:00,2,1.0,Pratts Bottom
1576,Richmond; London,2015-01-01 00:00:00,80,1.0,Richmond
1642,Romford; London,2015-01-01 18:00:00,160,1.0,Romford
1689,Southall; London,2015-01-01 19:00:00,36,1.0,Southall
1734,Stratford; London,2015-01-01 16:00:00,173,1.0,Stratford
1788,Sutton; London,2015-01-01 22:00:00,98,1.0,Sutton
1833,Tottenham; London,2015-01-01 19:00:00,338,1.0,Tottenham
1862,Walthamstow; London,2015-01-01 00:00:00,200,1.0,Walthamstow
1931,Wandsworth; London,2015-01-01 21:00:00,242,1.0,Wandsworth
1938,Westerham; London,2014-12-31 21:00:00,1,1.0,Westerham

In [88]:
london_tweets.LONGITUDE.max()

0.3071190118789673

In [89]:
london_tweets.LONGITUDE.min()

-0.5190079808235168

In [90]:
london_tweets.LATITUDE.max()

51.69159317016602

In [92]:
london_tweets.LATITUDE.max() - london_tweets.LATITUDE.min()

0.39690017700196023

In [93]:
london_tweets.LONGITUDE.max() - london_tweets.LONGITUDE.min()

0.8261269927024841

In [94]:
lat_range = london_tweets.LATITUDE.max() - london_tweets.LATITUDE.min()
long_range = london_tweets.LONGITUDE.max() - london_tweets.LONGITUDE.min()

lat_range * long_range

0.3278899496297131

In [96]:
lat_range * long_range / 0.001

327.88994962971304

In [99]:

math.sqrt(0.001 / long_range / lat_range)

0.05522502834944651

In [124]:
grid_area = lat_range*long_range/100

lat_bin_size = math.sqrt(grid_area/2)
long_bin_size= lat_bin_size * (long_range/lat_range)

In [126]:
london_tweets["long_bin"] = london_tweets.LONGITUDE.apply(lambda long: (long//long_bin_size)*long_bin_size)
london_tweets["lat_bin"] = london_tweets.LATITUDE.apply(lambda lat: (lat//lat_bin_size)*lat_bin_size)

In [127]:
london_tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,DATETIME,lat_bin,long_bin
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0,2014-12-31 09:47:50,51.381961,-0.337112
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0,2014-12-31 09:47:52,51.462941,-0.168556
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0,2014-12-31 09:47:53,51.341471,-0.084278
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0,2014-12-31 09:47:55,51.503432,0.000000
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0,2014-12-31 09:49:25,51.543922,0.168556