In [25]:
import datetime
import math
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import string

In [26]:
tweets_all = pd.read_csv("./data/tweets_all.csv", encoding="latin1")

In [27]:
tweets_all.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0

In [28]:
tweets_all.shape

(119850, 13)

In [29]:
london_tweets = tweets_all[tweets_all.LOCATION.str.contains("London")]

In [30]:
london_tweets = london_tweets[~(london_tweets.LOCATION == "London; England")]

In [31]:
london_tweets.shape

(97779, 13)

In [32]:
london_tweets.LOCATION = london_tweets.LOCATION.apply(lambda l: l.split(";")[0])
london_tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford,NaN,0
7,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Camberwell,,0

In [33]:
london_tweets = london_tweets[~(london_tweets.LOCATION == "Westerham")]

In [34]:
# Need to change
# * "New Addington; London" -> Croydon
# * "Stratford; London" -> Newham
# * "Romford; London" -> Havering
# * "Camberwell; London" -> Southwark
# * 'East Ham; London' -> New Ham
# 'Paddington; London' -> City of Westminster
# 'Kensington; London' -> Kensington and Chelsea
# 'Camden Town; London' -> Camden
# 'Walthamstow; London' -> Waltham Forest
# 'Poplar; London' -> Tower Hamlets
# 'Crayford; London' -> Bexley
# 'Ilford; London' -> Redbridge
# 'Eltham; London' -> Greenwich
# 'Richmond; London' -> Richmond upon Thames
# 'Hammersmith; London' -> Hammersmith and Fulham
# 'Barking; London' -> Barking and Dagenham
# 'Tottenham; London' -> Haringey
# 'Southall; London' -> Ealing
# 'Harefield; London' -> Hillingdon
# 'Downe; London' -> Bromley
# 'Biggin Hill; London' -> Bromley
# 'Hazlewood; London' -> Bromley
# 'Keston; London' -> Bromley
# 'Pratts Bottom; London' -> Bromley

In [35]:
# Full list of London Boroughs - including City of London (https://en.wikipedia.org/wiki/London_boroughs#List_of_boroughs)
# 33 in total

# * Barking and Dagenham
# * Barnet
# * Bexley
# * Brent
# * Bromley
# * Camden
# * City of London (not a London borough)
# * City of Westminster
# * Croydon
# * Ealing
# * Enfield
# * Greenwich
# * Hackney
# * Hammersmith and Fulham
# * Haringey
# * Harrow
# * Havering
# * Hillingdon
# * Hounslow
# * Islington
# * Kensington and Chelsea
# * Kingston upon Thames
# * Lambeth
# * Lewisham
# * Merton
# * Newham
# * Redbridge
# * Richmond upon Thames
# * Southwark
# * Sutton
# * Tower Hamlets
# * Waltham Forest
# * Wandsworth

In [39]:
locations_to_change = {
    "City of Westminster": "Westminster",
    "New Addington": "Croydon",
    "Stratford": "Newham",
    "Romford": "Havering",
    "Camberwell": "Southwark",
    "East Ham": "Newham",
    "Paddington": "City of Westminster",
    "Kensington": "Kensington and Chelsea",
    "Camden Town": "Camden",
    "Walthamstow": "Waltham Forest",
    "Poplar": "Tower Hamlets",
    "Crayford": "Bexley",
    "Ilford": "Redbridge",
    "Eltham": "Greenwich",
    "Richmond": "Richmond upon Thames",
    "Hammersmith": "Hammersmith and Fulham",
    "Barking": "Barking and Dagenham",
    "Tottenham": "Haringey",
    "Southall": "Ealing",
    "Harefield": "Hillingdon",
    "Downe": "Bromley",
    "Biggin Hill": "Bromley",
    "Hazlewood": "Bromley",
    "Keston": "Bromley",
    "Pratts Bottom": "Bromley"
}

In [40]:
def change_location_name(location):
    
    if location in locations_to_change.keys():
        return locations_to_change[location]
    else:
        return location

london_tweets.LOCATION = london_tweets.LOCATION.apply(change_location_name)

In [41]:
london_tweets.LOCATION.unique()

array(['Kingston upon Thames', 'Croydon', 'Newham', 'Havering',
       'Southwark', 'Hackney', 'Wandsworth', 'Westminster', 'Bexley',
       'Kensington and Chelsea', 'Islington', 'Hillingdon', 'Camden',
       'Barnet', 'Hounslow', 'City of London', 'Ealing', 'Lambeth',
       'Waltham Forest', 'Tower Hamlets', 'Harrow', 'Bromley',
       'Redbridge', 'Brent', 'Greenwich', 'Richmond upon Thames',
       'Enfield', 'Sutton', 'Lewisham', 'Hammersmith and Fulham',
       'Barking and Dagenham', 'Haringey', 'Merton'], dtype=object)

In [42]:
london_tweets.LOCATION.unique().shape

(33,)

In [43]:
l = london_tweets.LOCATION.unique().tolist()

In [44]:
len(l)

33

In [45]:
l.sort()
l

['Barking and Dagenham',
 'Barnet',
 'Bexley',
 'Brent',
 'Bromley',
 'Camden',
 'City of London',
 'Croydon',
 'Ealing',
 'Enfield',
 'Greenwich',
 'Hackney',
 'Hammersmith and Fulham',
 'Haringey',
 'Harrow',
 'Havering',
 'Hillingdon',
 'Hounslow',
 'Islington',
 'Kensington and Chelsea',
 'Kingston upon Thames',
 'Lambeth',
 'Lewisham',
 'Merton',
 'Newham',
 'Redbridge',
 'Richmond upon Thames',
 'Southwark',
 'Sutton',
 'Tower Hamlets',
 'Waltham Forest',
 'Wandsworth',
 'Westminster']

In [46]:
london_tweets.shape

(97778, 13)

In [47]:
london_tweets.to_csv("./data/london_tweets.csv", index=False)

In [48]:
london_tweets

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,Croydon,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Newham,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Havering,NaN,0
7,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Southwark,,0
8,550227616649994240,NaN,-0.076154,51.524464,-0.076154,51.524464,31/12/2014 09:51:01,19820211,NooshT,Coffee with Chloe; whilst watching Cat in the ...,Hackney,NaN,0
10,550227983462825984,NaN,0.167534,51.606304,0.167534,51.606304,31/12/2014 09:52:28,615529484,IAMLAURENGEORGE,@_LivGeorge @MagnaCarta_LDN sorry sold,Havering,NaN,0
11,550227983974162432,NaN,-0.113500,51.337700,-0.113500,51.337700,31/12/2014 09:52:28,428080660,MarieTasleJolly,Good Morning... @ Purley railway station http:...,Croydon,NaN,0
12,550228002525941760,NaN,-0.198773,51.462128,-0.198773,51.462128,31/12/2014 09:52:33,2745207615,DickyMalton,Last day of 2014; Richmond park @PictureOfLOND...,Wandsworth,NaN,0
13,550228343241838593,NaN,0.050057,51.526386,0.050057,51.526386,31/12/2014 09:53:54,348386293,peoffrey,A manager like Jurgen Klopp would be selling h...,Newham,NaN,0
15,550228351001325568,NaN,-0.189168,51.517567,-0.189168,51.517567,31/12/2014 09:53:56,500568545,DahafLa,@xangalino am here london for the holidays,Westminster,NaN,0
17,550228715159162880,NaN,0.103209,51.460180,0.103209,51.460178,31/12/2014 09:55:23,245406200,onepinkelephant,Many Congrats!! Halifax theatre company founde...,Bexley,NaN,0
18,550228719391232000,NaN,-0.208465,51.516144,-0.208465,51.516144,31/12/2014 09:55:24,340444437,WGoold,@CapitalOfficial Happy New Year!!#boom #HappyN...,Kensington and Chelsea,boom HappyNewYear,0
19,550228723799441408,NaN,-0.102292,51.540670,-0.102292,51.540668,31/12/2014 09:55:25,103911994,JasonCritic,@rebeccacallard cheers and happy new year to you,Islington,NaN,0
20,550228733014331392,NaN,-0.305024,51.427956,-0.305024,51.427956,31/12/2014 09:55:27,275233035,2bcmel,@pjbish hey dude from bude; U 2! Big hugs to t...,Kingston upon Thames,NaN,0
21,550229080046841857,NaN,-0.143774,51.422462,-0.143774,51.422462,31/12/2014 09:56:50,19231810,KayleighBlaker,SW16... Naaaaah,Wandsworth,NaN,0
22,550229080709562368,NaN,-0.475947,51.550694,-0.475947,51.550694,31/12/2014 09:56:50,121213670,embug94,@ScarlettMoffatt I always read your tweets in ...,Hillingdon,NaN,0
23,550229082173362177,NaN,-0.154328,51.548100,-0.154328,51.548100,31/12/2014 09:56:50,801510830,NicolOrtizM,Esa foto es de tu papá jajajajajaj la mía era ...,Camden,NaN,0
24,550229083586838528,NaN,0.049871,51.526497,0.049871,51.526497,31/12/2014 09:56:50,348386293,peoffrey,I'd like to see a couple of the Early Doors-es...,Newham,NaN,0
25,550229091342090240,NaN,-0.194933,51.609710,-0.194933,51.609711,31/12/2014 09:56:52,140485536,gracewoolford,@mrchrisaddison: If any of my family downstai...,Barnet,NaN,0
27,550229808349974528,NaN,-0.372026,51.439884,-0.372026,51.439884,31/12/2014 09:59:43,621242106,LTJWatts,@RoyDKhan yh but soon cum init,Hounslow,NaN,0
28,550229809130143744,NaN,-0.248153,51.487373,-0.248153,51.487373,31/12/2014 09:59:43,19336573,Weyinmi,@MrOfficialRAY :),Hounslow,NaN,0
29,550229810187083776,NaN,-0.083303,51.511723,-0.083303,51.511723,31/12/2014 09:59:44,183011357,MartaLondParis,En 3 horas termino de trabajar... Y quien dice...,City of London,NaN,0
30,550229816063320066,NaN,0.094824,51.462260,0.094824,51.462261,31/12/2014 09:59:45,462361085,jxnchanel_,@Jay_SaidIt @AshElNegro lol well to me there's...,Bexley,NaN,0
32,550230116375465984,NaN,-0.138154,51.541546,-0.138154,51.541546,31/12/2014 10:00:57,15782158,flaviomatani,Buon giorno! (@ Casa Tua) https://t.co/odRmpWio7x,Camden,NaN,0
33,550230121458978816,NaN,-0.458580,51.518627,-0.458580,51.518627,31/12/2014 10:00:58,88879972,CardiacCasey,They sang it one last time for us; then they r...,Hillingdon,NaN,0
34,550230122817921025,NaN,-0.262078,51.516514,-0.262078,51.516514,31/12/2014 10:00:58,78425699,natinstablog,NEW POST!!! ft. tomasthurzo & @2indahou...,Ealing,pf2015,0
35,550230123732299776,NaN,-0.116767,51.440346,-0.116767,51.440346,31/12/2014 10:00:58,298236624,EMedinaluis,@YaniryNunez cierto!!!! estoy en Londres; he l...,Lambeth,NaN,0
36,550230483809103872,NaN,0.007877,51.553540,0.007877,51.553539,31/12/2014 10:02:24,227269207,geektweetering,Check out NATURAL BORN KILLERS Film still 8x10...,Waltham Forest,NaN,0
38,550230497469554688,NaN,-0.161697,51.498734,-0.161697,51.498734,31/12/2014 10:02:28,468996126,Its__s3ood,@ i...,Kensington and Chelsea,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119810,550822848076726272,NaN,-0.309844,51.360516,-0.309844,51.360516,02/01/2015 01:16:15,2908077227,fulltimequeenri,My next door neighbour just let out an scream ...,Kingston upon Thames,NaN,0
119811,550822859996938241,NaN,-0.059275,51.533302,-0.059275,51.533302,02/01/2015 01:16:18,64826769,AdamMadz,Side of stage for Nina Kraviz. So sick #n...,Tower Hamlets,nyd ninakraviz weconcur,0
119812,550822866863005696,NaN,-0.060113,51.390890,-0.060113,51.390888,02/01/2015 01:16:19,192700303,KayConstantine,@Sir_Influential: @SakileParis @KayConstantin...,Croydon,NaN,0
119813,550823334683095042,NaN,-0.051150,51.389675,-0.051150,51.389675,02/01/2015 01:18:11,192700303,KayConstantine,@SakileParis you saw my bedrins yesterday. You...,Croydon,NaN,0
119814,550823340039217153,NaN,-0.210514,51.493145,-0.210514,51.493145,02/01/2015 01:18:12,1015493082,Louis_the_sassy,@drunkl3wis pleaseeee pick me I've been waitin...,Hammersmith and Fulham,NaN,0
119815,550823342824226817,NaN,-0.046454,51.348484,-0.046454,51.348484,02/01/2015 01:18:13,1349233550,gilinskysthrob,#JoeysNewVideo PLEASE @joeykidney http://t.co/...,Croydon,JoeysNewVideo,0
119816,550823346842398720,NaN,-0.108327,51.508404,-0.108327,51.508404,02/01/2015 01:18:14,422224808,ettoreb74,I'm at @OXO_Tower Brasserie in London; Greater...,Southwark,NaN,0
119817,550823352798281728,NaN,-0.056698,51.600414,-0.056698,51.600414,02/01/2015 01:18:15,390757900,MissTayl0rAnne,Nothing can come between you & I,Haringey,NaN,0
119818,550823353712644098,NaN,-0.381264,51.571680,-0.381264,51.571678,02/01/2015 01:18:15,139369744,JackCFC96,Some of these arsenal fans need to give it a r...,Harrow,NaN,0
119819,550823780470513664,NaN,0.146927,51.462692,0.146927,51.462692,02/01/2015 01:19:57,189883543,nataliexclement,Why I love izzy http://t.co/faE0D6N2mA,Bexley,NaN,0
119823,550824227960815616,NaN,-0.109500,51.613003,-0.109500,51.613003,02/01/2015 01:21:44,302243148,TheEdMeister12,@_anabelak,Enfield,NaN,0
119824,550824231320440833,NaN,-0.085141,51.423363,-0.085141,51.423363,02/01/2015 01:21:45,239010319,AlmightyUncle_,@P47J: Everyone will find their bae this year...,Lambeth,NaN,0
119825,550824236580085761,NaN,-0.065487,51.530098,-0.065487,51.530098,02/01/2015 01:21:46,215943737,thekickinbird,...,Tower Hamlets,NaN,0
119826,550824238140379136,NaN,-0.210459,51.493176,-0.210459,51.493176,02/01/2015 01:21:46,1015493082,Louis_the_sassy,Everyone; @drunkl3wis is doing gain t...,Hammersmith and Fulham,NaN,0
119827,550824247606906880,NaN,-0.125477,51.486446,-0.125477,51.486446,02/01/2015 01:21:49,607601189,Jorja_Tarrant,@danabiddles FFS why choose that picture?,Lambeth,NaN,0
119828,550824668094271488,NaN,-0.056421,51.532227,-0.056421,51.532227,02/01/2015 01:23:29,2255462810,vicsboner,@y0urdemise ...,Tower Hamlets,NaN,0
119829,550824672045334528,NaN,-0.158983,51.513676,-0.158983,51.513676,02/01/2015 01:23:30,2276987089,arndis567,Towel art @ The Cumberland Hotel http://t.co/1...,Westminster,NaN,0
119830,550824675593699329,NaN,-0.224009,51.547813,-0.224009,51.547813,02/01/2015 01:23:31,517563139,DaveBalcombe,Sorry J man #FSUvsORE #RoseBowl http://t.co/fX...,Brent,FSUvsORE RoseBowl,0
119832,550824687660703744,NaN,-0.137145,51.462560,-0.137145,51.462559,02/01/2015 01:23:34,497145453,VirtualJukebox,Something Good by Alt-J is #nowplaying in Biso...,Lambeth,nowplaying,0
119833,550824687593615360,NaN,-0.019677,51.481070,-0.019677,51.481071,02/01/2015 01:23:34,234834779,franversa,http://t.co/mdr1XsKxEI,Greenwich,NaN,0
119834,550825152414756864,NaN,-0.145076,51.606130,-0.145076,51.606129,02/01/2015 01:25:24,2298279403,amustaa,carry onnnnnn xox,Barnet,NaN,0
119835,550825168600580098,NaN,-0.079254,51.487293,-0.079254,51.487293,02/01/2015 01:25:28,291194200,oshoma93,Nah Oregon should just have some mercy and put...,Southwark,NaN,0
119837,550825170076962816,NaN,-0.076531,51.667090,-0.076531,51.667091,02/01/2015 01:25:29,2883229582,9015109_,@PanikWest: 2nd of January already uno; this y...,Enfield,NaN,0
119838,550825179212185600,NaN,0.166181,51.437504,0.166181,51.437504,02/01/2015 01:25:31,702441380,Spicer2395,@CoombesLuke Ahhh mate wish I was there,Bexley,NaN,0
119839,550825183314190337,NaN,-0.075274,51.549290,-0.075274,51.549290,02/01/2015 01:25:32,395438897,BeanieBhebhe,Let's talk,Hackney,NaN,0
119840,550825185495252992,NaN,-0.145177,51.606180,-0.145177,51.606178,02/01/2015 01:25:32,2298279403,amustaa,mmyyyy loveeeee,Barnet,NaN,0
119841,550825641365762049,NaN,0.148131,51.439770,0.148131,51.439770,02/01/2015 01:27:21,71224271,_megmid,@TylerMaherH you need help,Bexley,NaN,0
119843,550825655479570432,NaN,-0.147381,51.368584,-0.147381,51.368584,02/01/2015 01:27:24,1467277022,rosieprocter_,I really cannot sleep,Sutton,NaN,0
119846,550826112436404224,NaN,-0.281866,51.519230,-0.281866,51.519230,02/01/2015 01:29:13,573428214,rym5ogt,bbc https://t.co/GjPm1k0I15,Ealing,NaN,0
119847,550826118606249984,NaN,-0.063865,51.578503,-0.063865,51.578503,02/01/2015 01:29:15,328620525,Blvckmilo,http://t.co/1TvBFVhAO7,Haringey,NaN,0