In [1]:
import datetime
import math
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import string

In [2]:
tweets = pd.read_csv("./data/london_tweets.csv", encoding="latin1")

In [3]:
tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,datetime
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0,2014-12-31 09:47:50
1,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,Croydon,NaN,0,2014-12-31 09:47:53
2,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Newham,NaN,0,2014-12-31 09:47:55
3,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Havering,NaN,0,2014-12-31 09:49:25
4,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Southwark,,0,2014-12-31 09:50:57

Remove non-plaintext elements from tweets

In [4]:
def parse_tweets(tweet):

    tweet = re.sub('@[^\s]+','',tweet).strip()
    tweet = re.sub('#[^\s]+','',tweet).strip()
    tweet = re.sub(r'https?:\/\/.*[\r\n]*','',tweet).strip()
    tweet = " ".join(re.findall("[a-zA-Z]+", tweet))
    
    return tweet

In [5]:
tweets["parsed_tweets"] = tweets.MESSAGETEXT.apply(lambda tweet: parse_tweets(tweet))

In [6]:
tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,datetime,parsed_tweets
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0,2014-12-31 09:47:50,Not yet got tics for Liverpool waiting till Fr...
1,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,Croydon,NaN,0,2014-12-31 09:47:53,If it doesn t make you happy by December st le...
2,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Newham,NaN,0,2014-12-31 09:47:55,thanks and are you open tomorrow at all
3,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Havering,NaN,0,2014-12-31 09:49:25,but he is
4,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Southwark,,0,2014-12-31 09:50:57,XD

In [7]:
# tweets.groupby("datetime_to_nearest_hour")["parsed_tweets"].apply(lambda s: "%s" % ' '.join(s))
# tweets_by_hour = pd.DataFrame({"message_text_for_hour" : tweets.groupby("datetime_to_nearest_hour")["parsed_tweets"].apply(lambda s: "%s" % ' '.join(s))}).reset_index()

In [8]:
# need to get pos tag
class StemmerTokenizer(object):

    def __init__(self):
        self.stemmer = PorterStemmer()
        
    def __call__(self, doc):
        is_noun = lambda pos: pos[:2] == 'NN'
        doc = " ".join(re.findall("[a-zA-Z]+", doc))
        tokenized = nltk.word_tokenize(doc)
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized) if is_noun(pos)] 
        return [self.stemmer.stem(t) for t in word_tokenize(doc)]

In [9]:
idf_by_borough = {}

for borough in tweets.LOCATION.unique():
    clf = TfidfVectorizer(tokenizer=StemmerTokenizer(), ngram_range=(1, 3), stop_words=set(stopwords.words('english')))
    try:
        clf.fit(tweets[tweets["LOCATION"] == borough]["parsed_tweets"])
        word2idf = dict(zip(clf.get_feature_names(), clf.idf_))
        sorted_idf = sorted(word2idf.items(), key=lambda x: x[1], reverse=True)
    except ValueError:
        sorted_idf = []

    idf_by_borough[borough] = {
        "borough": borough,
        "sorted_idf": sorted_idf
    }
    
    print("Completed", borough)

print("Finished!")

Completed Kingston upon Thames
Completed Croydon
Completed Newham
Completed Havering
Completed Southwark
Completed Hackney
Completed Wandsworth
Completed Westminster
Completed Bexley
Completed Kensington and Chelsea
Completed Islington
Completed Hillingdon
Completed Camden
Completed Barnet
Completed Hounslow
Completed City of London
Completed Ealing
Completed Lambeth
Completed Waltham Forest
Completed Tower Hamlets
Completed Harrow
Completed Bromley
Completed Redbridge
Completed Brent
Completed Greenwich
Completed Richmond upon Thames
Completed Enfield
Completed Sutton
Completed Lewisham
Completed Hammersmith and Fulham
Completed Barking and Dagenham
Completed Haringey
Completed Merton
Finished!

In [11]:
for borough in idf_by_borough.keys():
    print(borough)
    print(idf_by_borough[borough]["sorted_idf"][-10:])

Kingston upon Thames
[('ha', 4.180923272775899), ('wa', 4.163828839416599), ('love', 4.06697901342668), ('thi', 3.708766790169062), ('happi new year', 3.4210847177172807), ('happi new', 3.3971791968637266), ('happi', 3.123372470905563), ('new year', 3.0595827330302328), ('new', 2.9430489167742815), ('year', 2.7775344782967077)]
Croydon
[('love', 4.263955409641097), ('go', 4.257034966796523), ('get', 4.152364344232635), ('happi new year', 4.0242825563756774), ('happi new', 4.0134128841387735), ('thi', 3.761498035545623), ('happi', 3.732510498672371), ('new year', 3.5069209616299006), ('new', 3.3644717960833233), ('year', 3.1245211264527324)]
Newham
[('one', 4.400934880020013), ('wa', 4.369924643277452), ('u', 4.08033599255509), ('thi', 3.9418170584195282), ('happi new year', 3.8514944201262424), ('happi new', 3.635650171293644), ('new year', 3.495728980570351), ('happi', 3.4250390361262424), ('new', 3.2561605495887407), ('year', 3.1204385755843993)]
Havering
[('get', 4.231553740092256), ('wa', 4.156830193896319), ('xx', 4.087304131247709), ('happi new year', 3.861179951795361), ('happi new', 3.8493454941483582), ('happi', 3.5690435289941997), ('thi', 3.5601939137172174), ('new year', 3.4798123952662574), ('new', 3.3978952727983707), ('year', 3.074347287158093)]
Southwark
[('bridg', 4.247771077092938), ('love', 4.15869144703925), ('thi', 3.803722502945618), ('london', 3.567124059297225), ('happi new year', 3.2936940095526452), ('happi new', 3.2311011599111614), ('happi', 3.096727425526879), ('new year', 2.947359424671304), ('new', 2.8384519075748944), ('year', 2.7037830740694457)]
Hackney
[('get', 4.329160367793976), ('like', 4.308106958596143), ('wa', 4.30118651575157), ('happi new year', 3.8980229046316843), ('thi', 3.8752428762998647), ('happi new', 3.866274206317104), ('happi', 3.650299144481507), ('new year', 3.389042299839263), ('new', 3.159823060130796), ('year', 3.0835148670674717)]
Wandsworth
[('one', 4.35708617655194), ('love', 4.3042436951775604), ('wa', 4.117032153089414), ('thi', 3.8007981787091927), ('happi new year', 3.7034698347486303), ('happi new', 3.6874694934021894), ('happi', 3.5031657754042436), ('new year', 3.2279371640237495), ('new', 3.114339986300044), ('year', 2.9573171168486896)]
Westminster
[('love', 4.546766619715174), ('street', 4.546766619715174), ('thi', 4.285121521046388), ('happi new year', 3.5671062739084296), ('happi new', 3.5462721870055876), ('london', 3.3877129768935634), ('happi', 3.3446647233250495), ('new year', 3.155810245489472), ('new', 3.0626164685915245), ('year', 2.9754285535133436)]
Bexley
[('get', 4.208199566876859), ('go', 4.0680529351336165), ('wa', 4.0680529351336165), ('happi new year', 3.972742755329292), ('happi new', 3.9519807638808633), ('happi', 3.7152315605108748), ('thi', 3.6991454227592504), ('new year', 3.5062417566347586), ('new', 3.3672428818281026), ('year', 3.0862626056423403)]
Kensington and Chelsea
[('wont', 4.179963321094263), ('regret', 4.161781002011072), ('check', 4.027124116864815), ('happi new year', 3.6618250504819856), ('happi new', 3.6402025864688197), ('happi', 3.4463611858420036), ('london', 3.3261337588438438), ('new year', 3.3261337588438438), ('year', 3.078297594939263), ('new', 2.889896992068926)]
Islington
[('get', 4.338396480423125), ('wa', 4.127501551185114), ('london', 3.9713408204298317), ('thi', 3.780023700727299), ('happi new year', 3.667228206581955), ('happi new', 3.64524929986318), ('happi', 3.4100053416148826), ('new year', 3.225395454302916), ('new', 3.143157356065944), ('year', 2.9586452178921707)]
Hillingdon
[('love', 4.217207767767503), ('wa', 4.126235989561778), ('london', 4.008452953905394), ('thi', 3.8731116060356316), ('happi new year', 3.702817077837017), ('happi new', 3.6816895314111413), ('happi', 3.4303751031302356), ('new year', 3.2843877339421383), ('new', 3.1905689787244835), ('year', 3.0258137456484278)]
Camden
[('thank', 4.220801680061415), ('love', 3.930112086545679), ('thi', 3.7759614067184204), ('happi new year', 3.605941720830761), ('happi new', 3.5929965562387243), ('london', 3.4328921148354667), ('happi', 3.328902401311419), ('new year', 3.148640577480475), ('new', 3.0732080043530354), ('year', 2.8934390973178594)]
Barnet
[('love', 4.360328779046066), ('thank', 4.320849968072278), ('wa', 4.240311105588265), ('thi', 3.9982990699696734), ('happi new year', 3.9261957760683295), ('happi new', 3.8962149438563936), ('happi', 3.5990839822066802), ('new year', 3.5092031627890976), ('new', 3.3703136576849557), ('year', 3.157699158266597)]
Hounslow
[('go', 4.2895396159752925), ('love', 4.239942674835921), ('get', 4.20819397652134), ('happi new year', 3.596392435415347), ('thi', 3.596392435415347), ('happi new', 3.579585317098966), ('happi', 3.404232429621105), ('new year', 3.1796912540402573), ('new', 3.120052987720526), ('year', 2.8617455239486493)]
City of London
[('day', 4.23118076005858), ('love', 4.23118076005858), ('thi', 3.9798663317776737), ('happi new year', 3.5261991218516315), ('happi new', 3.502942259687364), ('happi', 3.296021543880042), ('london', 3.0710105783910366), ('new year', 3.006005748082041), ('new', 2.9384124569495125), ('year', 2.833051941291686)]
Ealing
[('good', 4.340250287222092), ('wa', 4.282430716333266), ('get', 4.260207579548555), ('thi', 3.843813400908201), ('happi new year', 3.4097749203559804), ('happi new', 3.3729043845476525), ('happi', 3.165265019769408), ('new year', 3.0121653121881247), ('new', 2.9275226690340457), ('year', 2.7771056587588365)]
Lambeth
[('thi', 3.845324580005567), ('london eye', 3.5165348395563703), ('eye', 3.4861527558682477), ('happi new year', 3.3888043010971187), ('happi new', 3.3730912954325625), ('happi', 3.177495207429912), ('new year', 2.9788245126344277), ('london', 2.952156265552266), ('new', 2.90225282545377), ('year', 2.7419616885788596)]
Waltham Forest
[('life', 4.042215631625508), ('wish', 4.042215631625508), ('good', 3.7687469964237823), ('thi', 3.4071760818728434), ('happi new year', 3.3450443007658373), ('happi new', 3.3291077085030247), ('happi', 3.2205901262924312), ('new year', 3.1004458144503677), ('new', 3.0045640427470857), ('year', 2.9598638638291783)]
Tower Hamlets
[('llama', 4.3807516905018655), ('wa', 4.21644863921059), ('thi', 3.8543339719760388), ('happi new year', 3.8501234394396957), ('happi new', 3.8293326697706216), ('london', 3.7239721541127953), ('happi', 3.5634923392338895), ('new year', 3.328432685804601), ('year', 3.0457506237695258), ('new', 2.976757752282574)]
Harrow
[('get', 4.332204510175204), ('wa', 4.332204510175204), ('thank', 3.9175227469621157), ('thi', 3.733673305990108), ('happi new', 3.404863942114464), ('happi new year', 3.404863942114464), ('happi', 3.247578463481834), ('new year', 3.1492851150471), ('new', 3.0794415416798357), ('year', 2.8562979903656265)]
Bromley
[('wa', 4.344130875363286), ('go', 4.305812011061149), ('love', 4.2761802134547775), ('thi', 3.8255231111552397), ('happi new year', 3.631640731960209), ('happi new', 3.620212036136586), ('happi', 3.358430692116962), ('new year', 3.1972245773362196), ('new', 3.098086857116662), ('year', 2.9442572561170137)]
Redbridge
[('go', 4.522215918176688), ('get', 4.363610888000048), ('wa', 4.262258393739761), ('happi new year', 3.9537111828240183), ('happi new', 3.936166873173109), ('thi', 3.918925066738603), ('happi', 3.7112857019603585), ('new year', 3.4881421506461487), ('new', 3.3777940934772834), ('year', 3.1676702553713767)]
Brent
[('wa', 4.380530744853596), ('get', 4.303990667731262), ('like', 4.252697373343711), ('happi new', 3.967518431110049), ('happi new year', 3.967518431110049), ('thi', 3.8016217539834947), ('happi', 3.6003721873040213), ('new year', 3.5446615802900157), ('new', 3.437332560059517), ('year', 3.223077956162553)]
Greenwich
[('wa', 4.289919688976241), ('get', 4.263717316582216), ('go', 4.263717316582216), ('happi new year', 3.79156083397538), ('thi', 3.79156083397538), ('happi new', 3.729040476994046), ('happi', 3.5408439557570706), ('new year', 3.3405537054202994), ('new', 3.2427559621441726), ('year', 3.023346080382012)]
Richmond upon Thames
[('wa', 4.2683364550366), ('one', 4.25435021306186), ('thank', 4.25435021306186), ('thi', 3.9158958152366568), ('happi new year', 3.371961032863387), ('happi new', 3.3325193008120904), ('happi', 3.123844560617797), ('new year', 2.9897527869194898), ('new', 2.8962267289086663), ('year', 2.7564647865335075)]
Enfield
[('hi', 4.299450490506475), ('love', 4.299450490506475), ('thank', 3.9640529450150273), ('happi new year', 3.9219414596649003), ('happi new', 3.8914822521801917), ('thi', 3.760453989773788), ('happi', 3.6063033099465294), ('new year', 3.4760668132188592), ('new', 3.3756690869031623), ('year', 2.9302181546633057)]
Sutton
[('wa', 4.11677795484519), ('go', 4.073605782979982), ('love', 3.9924802381676137), ('happi new year', 3.7824087684207566), ('happi new', 3.7719374685534612), ('thi', 3.6634568255593916), ('happi', 3.4842553961016804), ('new year', 3.121349902412312), ('new', 3.02307968097951), ('year', 2.880964544663596)]
Lewisham
[('love', 4.322493646445815), ('go', 4.2007967114682945), ('wa', 4.064664537143715), ('happi new year', 3.7412643820898546), ('happi new', 3.7217197860168847), ('thi', 3.6411809235328723), ('happi', 3.4819411741981425), ('new year', 3.3098237875784298), ('new', 3.2006244956134378), ('year', 2.9600099340196424)]
Hammersmith and Fulham
[('like', 4.255100601691165), ('go', 4.091471177909362), ('happi new year', 3.8873758215658474), ('london', 3.8797129488202784), ('happi new', 3.872108349435059), ('thi', 3.744274977925174), ('happi', 3.673505907036967), ('new year', 3.3983239973494177), ('new', 3.2995891566637288), ('year', 3.0781564697531483)]
Barking and Dagenham
[('go', 4.212023130406161), ('happi new year', 3.936611150546194), ('like', 3.92739449544127), ('happi new', 3.918262011877997), ('happi', 3.7359404550840423), ('new year', 3.47124790085696), ('new', 3.340627718439896), ('thi', 3.2908662088808325), ('year', 3.138103454328422), ('rt', 3.0092705824854535)]
Haringey
[('wa', 4.407062501114553), ('thank', 4.3903954486293415), ('love', 4.266205068397958), ('happi new year', 3.9029822654880943), ('happi new', 3.8631760150876744), ('thi', 3.853467200960714), ('happi', 3.660733055094299), ('new year', 3.6026896854443837), ('new', 3.499210637886263), ('year', 3.2835526608247165)]
Merton
[('wa', 4.171453146316594), ('go', 4.095467239338672), ('love', 4.047839190349417), ('happi new year', 3.6738727493006236), ('happi new', 3.6346520361473424), ('thi', 3.57493280144572), ('happi', 3.4717485652104894), ('new year', 3.2657445237729754), ('new', 3.1040237850851717), ('year', 2.9186901778212255)]

In [37]:
for borough in idf_by_borough.keys():
    print(idf_by_borough[borough]["sorted_idf"][1])

('aadam said', 7.548219102762372)
('aa gracia', 8.540621528657152)
('aa mii', 8.55197478591866)
('aaaaaannnnd sleep', 8.291996750638674)
('aah', 8.636028261517456)
('aaaaaaaaaaaaaaooo dalston', 8.584773077612198)
('aaah mai', 8.523751400353667)
('aaaaaw thank', 8.526448273617135)
('aaaaah want', 8.242440205029254)
('aa angol', 8.178164022763461)
('aaron ramsey', 8.39018142822643)
('aa loung', 8.648024566610818)
('aaaaaaah ai', 8.639642287858013)
('aaaaahahahahahaha putangina', 8.671127904431579)
('aaaaa wait', 7.673929879321067)
('aaaargh x', 7.275703197782002)
('aasra veri', 8.07791990550546)
('aa white', 8.786967002614873)
('aa gya', 8.169350016670599)
('ab', 8.629246932551226)
('aamir clap woo', 7.915723448631314)
('aaaaa made', 8.503013958722956)
('aa nikla', 7.987951820976414)
('aa ke', 8.164720378771857)
('aayyoo hurri', 8.324160327128636)
('aan op', 7.837869151517971)
('aaron lennon', 8.496652438168283)
('aath gov', 7.643138479461352)
('aaaaaand action', 8.071997722376185)
('aa todo', 8.061763091461485)
('aaaahh', 7.925595197110468)
('abandon co', 8.493038813666137)
('aamer liqat ke', 7.80903930604298)