In [1]:
import datetime
import math
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import string

In [2]:
tweets = pd.read_csv("./data/london_tweets.csv", encoding="latin1")

In [3]:
tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,datetime
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0,2014-12-31 09:47:50
1,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,Croydon,NaN,0,2014-12-31 09:47:53
2,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Newham,NaN,0,2014-12-31 09:47:55
3,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Havering,NaN,0,2014-12-31 09:49:25
4,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Southwark,,0,2014-12-31 09:50:57

In [4]:
tweets["datetime"] = pd.to_datetime(tweets.MESSAGEDATE)

In [5]:
tweets["datetime_to_nearest_hour"] = tweets.datetime.apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour))

Remove non-plaintext elements from tweets

In [6]:
def parse_tweets(tweet):

    tweet = re.sub('@[^\s]+','',tweet).strip()
    tweet = re.sub('#[^\s]+','',tweet).strip()
    tweet = re.sub(r'https?:\/\/.*[\r\n]*','',tweet).strip()
    tweet = " ".join(re.findall("[a-zA-Z]+", tweet))
    
    return tweet

In [7]:
tweets["parsed_tweets"] = tweets.MESSAGETEXT.apply(lambda tweet: parse_tweets(tweet))

In [9]:
tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,datetime,datetime_to_nearest_hour,parsed_tweets
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames,NaN,0,2014-12-31 09:47:50,2014-12-31 09:00:00,Not yet got tics for Liverpool waiting till Fr...
1,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,Croydon,NaN,0,2014-12-31 09:47:53,2014-12-31 09:00:00,If it doesn t make you happy by December st le...
2,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Newham,NaN,0,2014-12-31 09:47:55,2014-12-31 09:00:00,thanks and are you open tomorrow at all
3,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Havering,NaN,0,2014-12-31 09:49:25,2014-12-31 09:00:00,but he is
4,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Southwark,,0,2014-12-31 09:50:57,2014-12-31 09:00:00,XD

In [10]:
# tweets.groupby("datetime_to_nearest_hour")["parsed_tweets"].apply(lambda s: "%s" % ' '.join(s))
# tweets_by_hour = pd.DataFrame({"message_text_for_hour" : tweets.groupby("datetime_to_nearest_hour")["parsed_tweets"].apply(lambda s: "%s" % ' '.join(s))}).reset_index()

In [10]:
# need to get pos tag
class StemmerTokenizer(object):

    def __init__(self):
        self.stemmer = PorterStemmer()
        
    def __call__(self, doc):
        is_noun = lambda pos: pos[:2] == 'NN'
        doc = " ".join(re.findall("[a-zA-Z]+", doc))
        tokenized = nltk.word_tokenize(doc)
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized) if is_noun(pos)] 
        return [self.stemmer.stem(t) for t in word_tokenize(doc)]

In [11]:
idf_by_hourly_interval = {}

for hour_interval in tweets.datetime_to_nearest_hour.unique():
    clf = TfidfVectorizer(tokenizer=StemmerTokenizer(), ngram_range=(1, 3), stop_words=set(stopwords.words('english')))
    clf.fit(tweets[tweets["datetime_to_nearest_hour"] == hour_interval]["parsed_tweets"])
    word2idf = dict(zip(clf.get_feature_names(), clf.idf_))
    sorted_idf = sorted(word2idf.items(), key=lambda x: x[1], reverse=True)

    idf_by_hourly_interval[hour_interval] = {
        "hour_interval": hour_interval,
        "sorted_idf": sorted_idf
    }
    
    print("Completed", hour_interval)

print("Finished!")

Completed 2014-12-31T09:00:00.000000000
Completed 2014-12-31T10:00:00.000000000
Completed 2014-12-31T08:00:00.000000000
Completed 2014-12-31T06:00:00.000000000
Completed 2014-12-31T07:00:00.000000000
Completed 2014-12-31T04:00:00.000000000
Completed 2014-12-31T05:00:00.000000000
Completed 2014-12-31T14:00:00.000000000
Completed 2014-12-31T15:00:00.000000000
Completed 2014-12-31T11:00:00.000000000
Completed 2014-12-31T13:00:00.000000000
Completed 2014-12-31T12:00:00.000000000
Completed 2014-12-31T18:00:00.000000000
Completed 2014-12-31T19:00:00.000000000
Completed 2014-12-31T16:00:00.000000000
Completed 2014-12-31T17:00:00.000000000
Completed 2014-12-31T23:00:00.000000000
Completed 2015-01-01T00:00:00.000000000
Completed 2014-12-31T20:00:00.000000000
Completed 2014-12-31T22:00:00.000000000
Completed 2015-01-01T08:00:00.000000000
Completed 2015-01-01T09:00:00.000000000
Completed 2015-01-01T04:00:00.000000000
Completed 2015-01-01T05:00:00.000000000
Completed 2015-01-01T06:00:00.000000000
Completed 2015-01-01T07:00:00.000000000
Completed 2014-12-31T21:00:00.000000000
Completed 2015-01-01T01:00:00.000000000
Completed 2015-01-01T02:00:00.000000000
Completed 2015-01-01T03:00:00.000000000
Completed 2015-01-01T14:00:00.000000000
Completed 2015-01-01T13:00:00.000000000
Completed 2015-01-01T10:00:00.000000000
Completed 2015-01-01T11:00:00.000000000
Completed 2015-01-01T12:00:00.000000000
Completed 2015-01-01T17:00:00.000000000
Completed 2015-01-01T18:00:00.000000000
Completed 2015-01-01T15:00:00.000000000
Completed 2015-01-01T16:00:00.000000000
Completed 2015-01-01T21:00:00.000000000
Completed 2015-01-01T20:00:00.000000000
Completed 2015-01-01T19:00:00.000000000
Completed 2015-02-01T00:00:00.000000000
Completed 2015-02-01T01:00:00.000000000
Completed 2015-01-01T23:00:00.000000000
Completed 2015-01-01T22:00:00.000000000
Completed 2015-02-01T03:00:00.000000000
Completed 2015-02-01T02:00:00.000000000
Finished!

In [12]:
for interval in idf_by_hourly_interval.keys():
    print(interval)
    print(idf_by_hourly_interval[interval]["sorted_idf"][-5:])

2014-12-31T09:00:00.000000000
[('happi', 3.862553552419634), ('new year', 3.703125815491532), ('new', 3.503412515985708), ('thi', 3.4778792139805432), ('year', 3.181828891858246)]
2014-12-31T10:00:00.000000000
[('happi', 4.029398290247109), ('new year', 3.8507065015037334), ('thi', 3.7149049603446715), ('new', 3.64591208885772), ('year', 3.2184680740307807)]
2014-12-31T08:00:00.000000000
[('day', 3.8409524650491713), ('new year', 3.7508013680548737), ('thi', 3.7508013680548737), ('new', 3.5207849374529023), ('year', 3.300384872084443)]
2014-12-31T06:00:00.000000000
[('today', 3.878395566849449), ('new year', 3.627081138568543), ('new', 3.5217206229107165), ('thi', 3.472930458741285), ('year', 3.472930458741285)]
2014-12-31T07:00:00.000000000
[('work', 3.894478539848818), ('thi', 3.8581108956779433), ('new', 3.7245795030534206), ('london', 3.693807844386667), ('year', 3.5793974932089228)]
2014-12-31T04:00:00.000000000
[('like', 4.4094961844768505), ('sleep', 4.237645927550192), ('thi', 4.237645927550192), ('u', 4.237645927550192), ('year', 4.237645927550192)]
2014-12-31T05:00:00.000000000
[('thank', 4.107145860924895), ('like', 4.038152989437943), ('love', 4.038152989437943), ('year', 3.973614468300372), ('thi', 3.8017642113737127)]
2014-12-31T14:00:00.000000000
[('london', 3.851736575267474), ('thi', 3.7557219220278855), ('new year', 3.6056035057285656), ('new', 3.4698019645695037), ('year', 3.1280526708474468)]
2014-12-31T15:00:00.000000000
[('happi', 3.9070281327238408), ('thi', 3.8180806467073447), ('new year', 3.5041503481806275), ('new', 3.3869431835450534), ('year', 3.0270476249062788)]
2014-12-31T11:00:00.000000000
[('happi', 4.077554772976365), ('new year', 3.7410825363551514), ('thi', 3.550027299592442), ('new', 3.44404585873615), ('year', 3.1846942929105952)]
2014-12-31T13:00:00.000000000
[('happi', 3.8865181885801747), ('new year', 3.6788788238019303), ('thi', 3.6541862112115586), ('new', 3.435932645191541), ('year', 3.1372815413691857)]
2014-12-31T12:00:00.000000000
[('love', 4.03100041239145), ('new year', 3.8587004140585135), ('thi', 3.844414456811037), ('new', 3.617024614615376), ('year', 3.287842811256842)]
2014-12-31T18:00:00.000000000
[('happi new', 3.388558894851682), ('happi', 3.202540476176401), ('new year', 3.0146991261588485), ('new', 2.9047619434736105), ('year', 2.720159883980931)]
2014-12-31T19:00:00.000000000
[('happi new', 3.32631867732614), ('happi', 3.222706413861843), ('new year', 2.8907437677466055), ('new', 2.838462261236564), ('year', 2.6823984375313454)]
2014-12-31T16:00:00.000000000
[('thi', 3.899040542832611), ('happi', 3.6150967924914372), ('new year', 3.354462632261729), ('new', 3.2556167976250965), ('year', 2.991745373867034)]
2014-12-31T17:00:00.000000000
[('thi', 3.7967868157398805), ('happi', 3.568252415790794), ('new year', 3.3175355375724846), ('new', 3.2180499863576792), ('year', 2.8995962552391443)]
2014-12-31T23:00:00.000000000
[('happi new', 3.0173975051898694), ('happi', 2.833636063337927), ('new year', 2.670278157342208), ('new', 2.6225553844729923), ('year', 2.48490626773063)]
2015-01-01T00:00:00.000000000
[('happi new', 2.0230761230964642), ('happi', 1.92770909119286), ('new year', 1.923171363610722), ('new', 1.8751090898046179), ('year', 1.7824502593219131)]
2014-12-31T20:00:00.000000000
[('happi new', 3.4044298201193675), ('happi', 3.2165149606889014), ('new year', 2.942875245360159), ('year', 2.6529230243738393), ('new', 2.6085698568240367)]
2014-12-31T22:00:00.000000000
[('happi new', 3.260536856750546), ('happi', 3.0903550545072025), ('new year', 2.83565366278528), ('new', 2.7837688274162686), ('year', 2.6042602119989287)]
2015-01-01T08:00:00.000000000
[('happi new year', 2.8895572125041813), ('happi', 2.749199854809259), ('new year', 2.5071878191906665), ('new', 2.461517782357478), ('year', 2.392524910870527)]
2015-01-01T09:00:00.000000000
[('happi new', 3.014377948332774), ('happi', 2.841285197976441), ('new year', 2.7169014782887055), ('new', 2.6545583477145698), ('year', 2.530688866001784)]
2015-01-01T04:00:00.000000000
[('happi new', 3.057599799764787), ('happi', 2.908754172167222), ('new year', 2.7607010722080823), ('new', 2.681364329971561), ('year', 2.4892043241773187)]
2015-01-01T05:00:00.000000000
[('happi new year', 3.090949148531316), ('happi', 2.9855886328734895), ('new year', 2.6979065604217087), ('new', 2.673213947831337), ('year', 2.474763009107499)]
2015-01-01T06:00:00.000000000
[('happi new', 2.958584589952041), ('happi', 2.8730624165138794), ('new year', 2.6664481671508797), ('new', 2.5894871260147516), ('year', 2.5650956728905925)]
2015-01-01T07:00:00.000000000
[('happi new year', 2.9522392841069607), ('happi', 2.827076141152955), ('new year', 2.600018690517609), ('new', 2.5247952692800215), ('year', 2.496221896835965)]
2014-12-31T21:00:00.000000000
[('happi new', 3.5184293418266437), ('happi', 3.3229373218429443), ('new year', 3.0399390987035897), ('new', 2.9395203509565424), ('year', 2.738270784277069)]
2015-01-01T01:00:00.000000000
[('happi new', 2.5775179176906318), ('happi', 2.4706099274231237), ('new year', 2.347319663396532), ('new', 2.302638691977233), ('year', 2.1929179480464294)]
2015-01-01T02:00:00.000000000
[('happi new', 2.9226185616544766), ('happi', 2.7839351741205265), ('new year', 2.6463651850263186), ('new', 2.594445127847959), ('year', 2.417594860504594)]
2015-01-01T03:00:00.000000000
[('happi new', 3.0939345489824026), ('happi', 2.7881688010973265), ('new year', 2.751225285905642), ('new', 2.666807944093059), ('year', 2.5332765514685365)]
2015-01-01T14:00:00.000000000
[('thi', 3.8588730908367936), ('happi', 3.841581593726733), ('new year', 3.5425357626246368), ('new', 3.407945608651872), ('year', 3.2569745817419933)]
2015-01-01T13:00:00.000000000
[('happi new', 3.7711672578924036), ('happi', 3.552579523114055), ('new year', 3.324880155263984), ('new', 3.2148035053433586), ('year', 3.058328864442277)]
2015-01-01T10:00:00.000000000
[('happi new', 3.209108673860401), ('happi', 3.0299566918277256), ('new year', 2.786906773396713), ('new', 2.71102207587184), ('year', 2.577971568084668)]
2015-01-01T11:00:00.000000000
[('happi new', 3.3417061598914524), ('happi', 3.1279327968648274), ('new year', 2.991268242408268), ('new', 2.8205711664666007), ('year', 2.7210739603080594)]
2015-01-01T12:00:00.000000000
[('happi new', 3.651091169178982), ('happi', 3.4200691302926924), ('new year', 3.153917634581319), ('new', 3.0874479895735774), ('year', 2.894995714304801)]
2015-01-01T17:00:00.000000000
[('wa', 4.012864094050874), ('thi', 3.8950810583944904), ('new year', 3.8317687789801633), ('new', 3.7105832221779402), ('year', 3.453248306115451)]
2015-01-01T18:00:00.000000000
[('new', 3.92345748248193), ('chelsea', 3.9007807738109004), ('kane', 3.8655348347492255), ('year', 3.7904996488063114), ('thi', 3.5179923743737658)]
2015-01-01T15:00:00.000000000
[('happi', 3.8354983132240412), ('thi', 3.8027084904010504), ('new year', 3.5991095351598106), ('year', 3.269553390236971), ('new', 3.0962099766662408)]
2015-01-01T16:00:00.000000000
[('happi', 3.9523571092734904), ('new year', 3.750266967157113), ('thi', 3.750266967157113), ('new', 3.499425463926402), ('year', 3.457279842475639)]
2015-01-01T21:00:00.000000000
[('ronni', 4.032422030789336), ('wa', 3.934304174830812), ('year', 3.915785127063575), ('eastend', 3.7828272933879563), ('thi', 3.731935686091567)]
2015-01-01T20:00:00.000000000
[('new year', 4.150794391998196), ('like', 4.136709652116457), ('new', 3.9347683084528504), ('thi', 3.786348303334577), ('year', 3.724275874692199)]
2015-01-01T19:00:00.000000000
[('new year', 4.261835792035572), ('new', 4.100291363183375), ('chelsea', 3.9469302609731347), ('thi', 3.834956589423591), ('year', 3.83072825331407)]
2015-02-01T00:00:00.000000000
[('get', 4.280911215787654), ('new', 4.2698613796010685), ('year', 4.258932309068879), ('wa', 4.216372694650082), ('thi', 3.8319609957397502)]
2015-02-01T01:00:00.000000000
[('love', 4.377099830083095), ('go', 4.1257854018021884), ('year', 4.084963407281934), ('like', 3.9836109130216464), ('thi', 3.729622686356338)]
2015-01-01T23:00:00.000000000
[('like', 4.169176156315928), ('new', 4.139323193166247), ('wa', 4.0413427848060435), ('year', 3.89868648440452), ('thi', 3.8370423212933136)]
2015-01-01T22:00:00.000000000
[('happi', 4.051098587226672), ('thi', 3.937339701870014), ('new year', 3.8798826468452265), ('new', 3.7337407466287744), ('year', 3.5211793046451016)]
2015-02-01T03:00:00.000000000
[('wa', 4.33904916386517), ('go', 4.264941191711447), ('know', 4.264941191711447), ('like', 3.908266247772715), ('thi', 3.8129560679683903)]
2015-02-01T02:00:00.000000000
[('know', 4.509678024656225), ('get', 4.478906365989472), ('wa', 4.311852281326305), ('like', 4.261841860751645), ('thi', 3.7127340504146367)]

In [13]:
idf_by_hourly_interval[np.datetime64('2015-01-01T21:00:00.000000000')]["sorted_idf"][-10:]

[('go', 4.488095834480246),
 ('kill', 4.488095834480246),
 ('die', 4.440467785490991),
 ('new', 4.289644895756409),
 ('like', 4.250424182603126),
 ('ronni', 4.032422030789336),
 ('wa', 3.934304174830812),
 ('year', 3.915785127063575),
 ('eastend', 3.7828272933879563),
 ('thi', 3.731935686091567)]

In [ ]:
('eastend', 3.7828272933879563),
('ronni', 4.032422030789336),
('kill', 4.488095834480246),
('die', 4.440467785490991),
('emma', 4.735931998384828),
('luci', 4.767680696699408),
('phil', 5.023614070836609)
('nick', 5.539080074159101)
('denis', 5.110625447826238)
('dead', 5.292947004620193)

In [15]:
idf_by_hourly_interval[np.datetime64('2015-01-01T18:00:00.000000000')]["sorted_idf"][-10:]

[('wa', 4.331218802850445),
 ('spur', 4.324345923562682),
 ('harri', 4.317519958492283),
 ('happi', 4.284072024424743),
 ('new year', 4.109455514005193),
 ('new', 3.92345748248193),
 ('chelsea', 3.9007807738109004),
 ('kane', 3.8655348347492255),
 ('year', 3.7904996488063114),
 ('thi', 3.5179923743737658)]

In [37]:
idf_by_hourly_interval[np.datetime64('2015-01-01T17:00:00.000000000')]["sorted_idf"][-10:]

[('happi new', 4.403730402737885),
 ('get', 4.281128080645553),
 ('go', 4.281128080645553),
 ('london', 4.146395486675397),
 ('happi', 4.042717057200555),
 ('wa', 4.012864094050874),
 ('thi', 3.8950810583944904),
 ('new year', 3.8317687789801633),
 ('new', 3.7105832221779402),
 ('year', 3.453248306115451)]

In [41]:
idf_by_hourly_interval[np.datetime64('2015-01-01T18:00:00.000000000')]["sorted_idf"][-10:]

[('wa', 4.331218802850445),
 ('spur', 4.324345923562682),
 ('harri', 4.317519958492283),
 ('happi', 4.284072024424743),
 ('new year', 4.109455514005193),
 ('new', 3.92345748248193),
 ('chelsea', 3.9007807738109004),
 ('kane', 3.8655348347492255),
 ('year', 3.7904996488063114),
 ('thi', 3.5179923743737658)]

In [42]:
idf_by_hourly_interval[np.datetime64('2015-01-01T19:00:00.000000000')]["sorted_idf"][-100:]

[('wait', 5.802280832982721),
 ('ye', 5.802280832982721),
 ('could', 5.77242786983304),
 ('absolut', 5.743440332959787),
 ('believ', 5.743440332959787),
 ('chadli', 5.743440332959787),
 ('ever', 5.743440332959787),
 ('lane', 5.715269455993091),
 ('last night', 5.715269455993091),
 ('better', 5.687870481804977),
 ('home', 5.687870481804977),
 ('point', 5.687870481804977),
 ('pleas', 5.609908940335265),
 ('rt', 5.609908940335265),
 ('peopl', 5.585216327744893),
 ('player', 5.585216327744893),
 ('let', 5.5611187761658325),
 ('tonight', 5.5611187761658325),
 ('beat', 5.51459876053094),
 ('cahil', 5.51459876053094),
 ('score', 5.51459876053094),
 ('take', 5.448640792739143),
 ('much', 5.427587383541311),
 ('shit', 5.427587383541311),
 ('way', 5.427587383541311),
 ('hope', 5.386765389021055),
 ('na', 5.386765389021055),
 ('realli', 5.386765389021055),
 ('right', 5.386765389021055),
 ('best', 5.366962761724875),
 ('feel', 5.366962761724875),
 ('hi', 5.366962761724875),
 ('first', 5.347544675867773),
 ('never', 5.347544675867773),
 ('harri kane', 5.328496480897079),
 ('say', 5.328496480897079),
 ('x', 5.309804347884927),
 ('man', 5.29145520921673),
 ('footbal', 5.273436703714052),
 ('watch', 5.273436703714052),
 ('arsen', 5.255737126614651),
 ('onli', 5.255737126614651),
 ('mourinho', 5.238345383902781),
 ('play', 5.238345383902781),
 ('team', 5.238345383902781),
 ('night', 5.221250950543482),
 ('oh', 5.221250950543482),
 ('whi', 5.221250950543482),
 ('need', 5.17165400940411),
 ('top', 5.17165400940411),
 ('harri', 5.155653668057669),
 ('leagu', 5.155653668057669),
 ('us', 5.155653668057669),
 ('would', 5.155653668057669),
 ('thank', 5.139905311089529),
 ('think', 5.139905311089529),
 ('back', 5.124401124553564),
 ('goal', 5.109133652422775),
 ('last', 5.094095775058235),
 ('make', 5.094095775058235),
 ('want', 5.094095775058235),
 ('even', 5.079280689273094),
 ('lol', 5.079280689273094),
 ('know', 5.064681889851942),
 ('look', 5.050293152399842),
 ('come', 5.022122275433146),
 ('still', 5.022122275433146),
 ('u', 5.0083289533008095),
 ('win', 4.98130028091289),
 ('great', 4.954982972595517),
 ('see', 4.92934054198218),
 ('time', 4.92934054198218),
 ('fan', 4.916761759775319),
 ('start', 4.879947786652603),
 ('well', 4.879947786652603),
 ('got', 4.867971595605887),
 ('ha', 4.867971595605887),
 ('happi new', 4.867971595605887),
 ('happi new year', 4.867971595605887),
 ('kane', 4.787928887932351),
 ('good', 4.766188901295945),
 ('london', 4.724077415945818),
 ('tottenham', 4.703668544314612),
 ('one', 4.683667877607942),
 ('today', 4.654397495307828),
 ('game', 4.644828044291678),
 ('fuck', 4.562589946054706),
 ('go', 4.536614459651445),
 ('day', 4.462506487497723),
 ('love', 4.438975990087529),
 ('happi', 4.408439266227447),
 ('get', 4.357145971839897),
 ('wa', 4.315181772740864),
 ('like', 4.294842088503742),
 ('spur', 4.294842088503742),
 ('new year', 4.261835792035572),
 ('new', 4.100291363183375),
 ('chelsea', 3.9469302609731347),
 ('thi', 3.834956589423591),
 ('year', 3.83072825331407)]

In [43]:
['arsen','goal','lampard','wenger','liverpool','team','chelsea','game','kane','spur','harri','tottenham','sunderland','player','leagu','footbal','arsen','mourinho','play','beat','cahil','score']

['arsen',
 'goal',
 'lampard',
 'wenger',
 'liverpool',
 'team',
 'chelsea',
 'game',
 'kane',
 'spur',
 'harri',
 'tottenham',
 'sunderland',
 'player',
 'leagu',
 'footbal',
 'arsen',
 'mourinho',
 'play',
 'beat',
 'cahil',
 'score']

In [45]:
idf_by_hourly_interval[np.datetime64('2014-12-31T19:00:00.000000000')]["sorted_idf"][-100:]

[('next', 5.541164856012179),
 ('still', 5.541164856012179),
 ('thing', 5.541164856012179),
 ('want', 5.541164856012179),
 ('de', 5.501944142858898),
 ('let', 5.501944142858898),
 ('need', 5.501944142858898),
 ('readi', 5.501944142858898),
 ('think', 5.501944142858898),
 ('ever', 5.464203814876051),
 ('us', 5.464203814876051),
 ('friend', 5.427836170705175),
 ('gon', 5.427836170705175),
 ('gon na', 5.427836170705175),
 ('good luck run', 5.427836170705175),
 ('hi', 5.427836170705175),
 ('luck run', 5.427836170705175),
 ('veri', 5.427836170705175),
 ('fuck', 5.392744850893906),
 ('last', 5.392744850893906),
 ('start', 5.392744850893906),
 ('day', 5.358843299218225),
 ('greater', 5.358843299218225),
 ('greater london', 5.358843299218225),
 ('way', 5.358843299218225),
 ('work', 5.358843299218225),
 ('would', 5.358843299218225),
 ('follow', 5.326053476395233),
 ('forev matter', 5.326053476395233),
 ('forev matter wat', 5.326053476395233),
 ('good luck', 5.326053476395233),
 ('keep thi', 5.326053476395233),
 ('keep thi smile', 5.326053476395233),
 ('matter', 5.326053476395233),
 ('matter wat', 5.326053476395233),
 ('matter wat r', 5.326053476395233),
 ('r u xx', 5.326053476395233),
 ('right', 5.326053476395233),
 ('smile forev', 5.326053476395233),
 ('smile forev matter', 5.326053476395233),
 ('thi smile', 5.326053476395233),
 ('thi smile forev', 5.326053476395233),
 ('u xx', 5.326053476395233),
 ('wat r', 5.326053476395233),
 ('wat r u', 5.326053476395233),
 ('watch', 5.326053476395233),
 ('best', 5.294304778080654),
 ('luck', 5.294304778080654),
 ('parti', 5.294304778080654),
 ('smile', 5.294304778080654),
 ('wat', 5.294304778080654),
 ('back', 5.2635331194139),
 ('r u', 5.2635331194139),
 ('know', 5.233680156264218),
 ('forev', 5.204692619390966),
 ('onli', 5.204692619390966),
 ('wish', 5.204692619390966),
 ('come', 5.17652174242427),
 ('new year eve', 5.149122768236155),
 ('night', 5.149122768236155),
 ('whi', 5.122454521153994),
 ('year eve', 5.122454521153994),
 ('eve', 5.096479034750733),
 ('make', 5.096479034750733),
 ('much', 5.096479034750733),
 ('peopl', 5.096479034750733),
 ('even', 5.071161226766444),
 ('great', 5.071161226766444),
 ('na', 5.071161226766444),
 ('got', 5.046468614176072),
 ('x', 4.975851046962118),
 ('ha', 4.95337819111006),
 ('run', 4.95337819111006),
 ('keep', 4.909893079170321),
 ('xx', 4.888839669972489),
 ('everyon', 4.848017675452233),
 ('nye', 4.848017675452233),
 ('r', 4.848017675452233),
 ('look', 4.8282150481560535),
 ('time', 4.8282150481560535),
 ('hope', 4.771056634316105),
 ('like', 4.716989413045829),
 ('wa', 4.649166816707069),
 ('see', 4.585653410984743),
 ('tonight', 4.540532975704274),
 ('thank', 4.497360803839064),
 ('go', 4.365591526207941),
 ('one', 4.294132562225796),
 ('u', 4.260231010550115),
 ('get', 4.227441187727123),
 ('love', 4.125311692650744),
 ('london', 4.0151085525171295),
 ('good', 3.972548938098334),
 ('thi', 3.840059755052255),
 ('happi new year', 3.339505681608094),
 ('happi new', 3.32631867732614),
 ('happi', 3.222706413861843),
 ('new year', 2.8907437677466055),
 ('new', 2.838462261236564),
 ('year', 2.6823984375313454)]